
:root{

    --softblue:#DAE3E5;
    --mediumblue: #55868C;
    --blue: #307473;
    --darkblue:#2F3061;
    --orange:#DE541E;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: var(--softblue);
}

img#padlock{
    position: absolute;
    top: 27px;
    left: 70px;
    width: 70px;
    height: 80px;
}

section{
    margin: auto;
    margin-top: 40px;
    background-color: var(--softblue);
    margin-left: 63px;  
    width: 88.5%;
    height: 500px;
    padding: 15px; 
}

.message{
    height: 65%;
    width: 30%;
    position: absolute;
    top: 30px;
    left: 720px;   
    border: transparent;
}
p {
    position: absolute;
    top: 450px;
    left: 370px;
    color: var(--darkblue);
    font-size: 12px;
}
img#attention{
    position: absolute;
    top: 440px;
    left: 340px;
    width: 25px;
    height: 27px;

    

}

.text {
    height: 65%;
    width: 30%;
    position: absolute;
    top: 30px;
    left: 300px;   
    background-color: var(--softblue);  
    border: transparent;
}

input::placeholder{
    position: absolute;
    top: 50px;
    left: 20px;
    text-align: center;
    color: var(--darkblue);
}
#encrypt{
    position: absolute;
    top: 489px;
    left: 330px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background: linear-gradient(#55868C, #307473 70%);
    padding: 10px;
    border: none;
    color: var(--darkblue);
}

#decrypt{
    position: absolute;
    top: 490px;
    left: 520px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    background: linear-gradient(#307473, #307473);
    padding: 10px;
    border: none;
    color: var(--darkblue);
}

footer{

    width: 99.3%;
    text-align: center;
    word-spacing: 5px;
    padding: 5px;
    background-color: var(--mediumblue);
    color: var(--darkblue);
}

img#github{
    width: 25px;
    height: 27px;
    margin: auto;
    
}

img#linkedin{
    width: 25px;
    height: 27px;
    margin: auto;
    
}