
:root{

    --softblue:#DAE3E5;
    --mediumblue: #55868C;
    --blue: #307473;
    --darkblue:#2F3061;
    --orange:#DE541E;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: var(--mediumblue);    
    margin: 0px;
    
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--blue);
    color: var(--softblue);
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    
}

h1{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
}

p{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 2px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--mediumblue);
    margin: 5%;
    border-radius: 20px;

}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--softblue);  
    

}

.userTxt {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 350px;
    height: 300px;
    margin-top: 50px;
    padding: 10px;
    text-align: left;
    background-color:var(--softblue);  
    border: transparent;
    outline: 0px;
}

input::placeholder{
    position: absolute;
    top: 50px;
    left: 20px;
    text-align: center;
    color: var(--darkblue);
}
.message{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 200px;
    height: 300px;
    margin-top: 50px;
    margin-left: 15px;
    padding: 10px;
    text-align: left;
    color: white;
    background-color: var(--mediumblue );
    border: transparent;
    border-radius: 10px;
    outline: 0px;
}

#encrypt{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--blue);
    outline: 0;
    color: var(--blue);
    
}
#encrypt:hover{
    color: var(--orange);
    font-size: 16px;
}

#decrypt{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--blue);
    outline: 0;
    color: var(--blue);
}
#decrypt:hover{
    color: var(--orange);
    font-size: 16px;
}
div.copy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-left: 90px;  
}
#copy{
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--blue);
    outline: 0;
    color: var(--blue);
}
#copy:hover{
    color: var(--orange);
    font-size: 16px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: right;
    margin-bottom: 100px;
    padding: 20px;
    font-size: 13px;
    color: var(--mediumblue);
    background-color: var(--softblue);
    
}

a{
    text-decoration: none;
    color: var(--mediumblue); 
}

a:hover{
    text-decoration: none;
    color: var(--orange);
    font-weight: bolder;
    }

hr{
    display: flex;
    
    border: 0.50px solid var(--mediumblue);
}