
:root{

    --softblue:#DAE3E5;
    --mediumblue: #55868C;
    --blue: #307473;
    --darkblue:#2F3061;
    --orange:#DE541E;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: var(--softblue);
}

img{
    position: absolute;
    top: 27px;
    left: 70px;
    width: 70px;
    height: 80px;
    

}
section{
    margin: auto;
    margin-top: 40px;
    background-color: var(--softblue);
    margin-left: 63px;  
    width: 88.5%;
    height: 500px;
    padding: 15px; 
}

div{
    height: 70%;
    width: 30%;   
}

.text{
    height: 70%;
    width: 30%;
    position: absolute;
    top: 30px;
    left: 720px;   
    border-radius: 30px;
}
.text::placeholder{
    font-size: 15px;

}

.message {
    height: 70%;
    width: 30%;
    position: absolute;
    top: 30px;
    left: 300px;   
    background-color: var(--softblue);
}

footer{
    width: 98%;
    margin-bottom: 0%;
    text-align: center;
    padding: 10px;
    background-color: var(--mediumblue);
    color: var(--darkblue);
}

a{
    text-decoration: none;
    color: var(--darkblue);
}
a:hover {
    color:var(--blue);
}